extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Change Password
        form(method='POST')
          div.form-group
            label Username 
            input.form-control(type='text' id='username' placeholder='username' name='username' required readonly)
          div.form-group
            label(for='New Password') New Password
            input.form-control(type='password' id='new_password' name='new_password')
          div.form-group
            label(for='Confirm Password') Confirm Password
            input.form-control(type='password' id='confirm_password' name='confirm_password')
          input.form-control(type='hidden' name='channelId' value='channelId')
          input.form-control(type='hidden' name='userId' value='userId')
          div.form-group  
            button.btn.btn-primary(type='submit' id="confirm") Confirm
          <script src=".bot/change-password.js"></script>  